@import './component/header';
@import './component/footer';
@import './component/main';
@import "../sass/base/mixins";
@import "../sass/base/extend";
body {

    background-color: #d6ffd2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-areas: "header" "header" "header"
                         "main"   "main" "main" 
                         "footer" "footer" "footer" ;
                         
}


@media  only screen and (max-width: 320px){
    body {
        display: grid;
        grid-template-areas: "header" "main" "footer ";
    }
   
}

@media only screen and (max-width: 768px) {
    body {
        display: grid;
        grid-template-areas: "header" "main" "footer ";
    
    }
    
    
}
